################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle.BookStore/Webgentle.BookStore
/Webgentle.BookStore/.vs/Webgentle.BookStore/v16
/Webgentle.BookStore/Webgentle.BookStore.sln
/Webgentle.BookStore/.vs/Webgentle.BookStore/config
